.article--entry {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FAF9F6;
    margin-top: 50px;
}

.article-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 5px; 
    margin-right: 19px;
}

.article-main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.article-info-marker {
    width: 15px;
    margin-right: 4px;
}

.article--country {
    text-transform: uppercase;
    font-size: 1rem;
    margin-right: 12px;
    font-weight: 400;
}

.article--info a {
    font-size: 0.7rem;
    color: #FAF9F6;
}

.article--info a:visited {
    color: #918E9B;
}

.article--title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.article--dates {
    font-weight: bold;
}

.article--paragraph {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}