.nav--header {
    height: 100px;
    padding: 10px;
}

.nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav > img {
    width: 60px;
}

.nav--title {
    font-family: "Raleway", sans-serif;
    color: #7f8fc1;
    font-size: 1.75rem;
    margin-left: 10px;
}
