* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #061934;
}

.container {
    margin: 46px 30px;
}

.time {
    color: #a0a7bf;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    padding: 20px 0px 0px 36px;
    
}